/*HOME PAGE*/
#home-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

img [src="files/img/IMG_8779.jpg"] {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#aboutlocator {
  position: absolute;
  visibility: visible;
  left: 80px;
  top: 135px;
  z-index: 1;
}

#writinglocator {
  position: absolute;
  visibility: visible;
  left: 160px;
  top: 135px;
  z-index: 1;
}

#travellocator {
  position: absolute;
  visibility: visible;
  left: 255px;
  top: 135px;
  z-index: 1;
}

#projectslocator {
  position: absolute;
  visibility: visible;
  left: 340px;
  top: 135px;
  z-index: 1;
}

#readinglocator {
  position: absolute;
  visibility: visible;
  left: 450px;
  top: 134px;
  z-index: 1;
}

#homelinks {
  color: white;
  font-size: 24px;
}

#rectangle {
  position: absolute;
  visibility: visible;
  right: 0px;
  top: 315px;
  z-index: 1;
  background-color: #333333;
}

#rectanglefont {
 font-family: "Lucida Grande", Tahoma;
 font-size: 20px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: white;
 letter-spacing: 0.3em;
}

#home-resume {
  color: dimgray;
  max-width: 500px;
  position: absolute;
  bottom: 40%;
  left: 86%;
}

/*NAVBAR PAGE */
#navbarlinks {
  color: black;
  font-size: 16px;
  font-family: "Courier New", sans-serif;
}

.nav-stacked {
  position: absolute;
  visibility: visible;
  left: 630px;
  top: 5px;
}

/*ABOUT PAGE*/
#about-page {
  height: 100vh;
  width: 100vw;
  background-color: #F0F8FF;
}

#about-text {
  color: dimgray;
  max-width: 500px;
  font-size: 15px;
  margin-top: 35px;
}

#about-title {
  z-index: 1;
  font-family: "Lucida Grande", Tahoma;
  font-size: 34px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 30px;
 }


#about-subtitle {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 24px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
}

#resume {
  color: dimgray;
  max-width: 500px;
  padding-bottom: 200px;
}

img[src="files/img/IMG_8109.jpg"] {
  height: auto;
  min-width: 350px;
  min-height: 350px;
  padding-left: 150px;
}

/*WRITING PAGE*/

.default-container {
    color: #F0F8FF;
    margin: 180px 5%;
    min-height: 46vh;
}

#writing-page {
  min-height: 100%;
  min-width: 1024px;
  min-height: 780px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F0F8FF;
  z-index: 2;
}

.thumbnail {
  position: relative;
  margin-top: 80px;
}

img {
  width: 100%;
}

#writing-title {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 26px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 position: absolute;
 left: 32%;
 top: 8%;
}

#article-tile a {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    text-decoration: none;
    box-shadow: 3px 3px 50px rgba(0,0,0, 0.3);
    min-height: 310px;
}

#article-tile a:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    font-family: 'Lucinda Grande', sans-serif;

}

#article-tile a p {
    color: black;
}

#article-tile-title {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lucinda Grande', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
}

#article-tile-subtitle {
    font-size: 1.5;
    text-align: center;
    font-family: 'Lucinda Grande', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*TRAVEL PAGE*/
#travel-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

img [src="files/img/fuego.jpg"] {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#travel-caption {
  z-index: 1;
  font-family: "Lucida Grande", Tahoma;
  font-size: 16px;
  font-weight: lighter;
  font-variant: normal;
  color: black;
  letter-spacing: 0.1em;
  position: absolute;
  right: 30px;
  bottom: 3px;
  font-style: italic;
}

#travel-text {
  z-index: 1;
  font-family: "Lucida Grande", Tahoma;
  font-size: 72px;
  font-variant: normal;
  color: black;
  letter-spacing: 0.1em;
  position: absolute;
  right: 32%;
  top: 46%;
  font-weight: bold;
}

#central-america-title {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 26px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 position: absolute;
 left: 25%;
 top: 10%;
}

#south-america-title {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 26px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 position: absolute;
 left: %;
 top: 10%;
}

.region {
  z-index: 1;
  position: absolute;
  right: 36%;
  top: 61%;
}

#travel-tabs {
  background-color: black;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

/*PROJECTS PAGE*/
#projects-page {
  min-height: 100%;
  min-width: 1024px;
  min-height: 780px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F0F8FF;
  z-index: 2;
}

#projects-title {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 26px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 position: absolute;
 left: 40%;
 top: 10%;
}

#project-tile a {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    text-decoration: none;
    box-shadow: 3px 3px 50px rgba(0,0,0, 0.3);
    min-height: 310px;
}

#project-tile a:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    font-family: 'Lucinda Grande', sans-serif;
}

#project-tile a p {
    color: black;
}

#project-tile-title {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lucinda Grande', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
}

#project-tile-subtitle {
    font-size: 1.5;
    text-align: center;
    font-family: 'Lucinda Grande', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

#mapid {
	height: 500px;
}

#map-text {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 20px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 display: flex;
 justify-content: left;
 margin-top: 50px;
 margin-bottom: 10px;
 margin-left: 20px;
}

#back-text {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 20px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 display: flex;
 justify-content: left;
 margin-left: 20px;

}

/*READING PAGE*/
#reading-page {
  height: 100vh;
  width: 100vw;
  background-color: #F0F8FF;
}

img[src="files/img/books.jpg"] {
    height: auto;
    min-width: 350px;
    min-height: 350px;
    padding-left: 75px;
    padding-right: 75px;
}

.container-fluid{
  height: 100%;
}

ul {
  list-style: none;
  font-size: 12px;
  color: black;
  font-family: "Lucida Grande", Tahoma;
  font-weight: lighter;
  letter-spacing: 0.1em;
  z-index: 1;
}

#reading-text {
 z-index: 1;
 font-family: "Lucida Grande", Tahoma;
 font-size: 20px;
 font-weight: lighter;
 font-variant: normal;
 text-transform: uppercase;
 color: black;
 letter-spacing: 0.1em;
 display: flex;
 justify-content: center;
 margin-top: 80px;
 margin-bottom: 30px;
}

.btn-sample {
  position: absolute;
  visibility: visible;
  right: 15%;
  top: 18%;
}

#reading-caption {
  z-index: 1;
  font-family: "Lucida Grande", Tahoma;
  font-size: 14px;
  font-weight: lighter;
  font-variant: normal;
  color: black;
  letter-spacing: 0.1em;
  font-style: italic;
  padding-left: 75px;
  padding-top: 20px;
}

#articles-border {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 800px;
    height: 515px;
}
